body{
    margin:0;
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 52px;
}
.jac-color{
    color:orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.width-half{
    width: 50%;
    padding-left: 50px;
}
.width-half img{
    width: 80%;
    
}
p{
    text-align: justify;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url("images/dream-bg.png") ;
    background-repeat: no-repeat;
    background-position: right;
}
.width-half text{
    margin-right: 30px;
}
